body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #000000; 
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

#xr-canvas {
  width: 80vw; 
  height: 45vw; 
  max-width: 800px; 
  max-height: 450px; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  background-color: #000000; 
}

#video-stream {
  display: none;
}
